{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="d-flex">
        {% for project in projects %}
            <div class="p-3 border bg-light">
                <div class="card" style="width: 18rem; height: 100%">
                    <img src="../static/img/{{ project.img }}" class="card-img-top">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.description|linebreaksbr }}</p>
                        <div class="mt-auto">
                            {% if project.website %}
                                <a href={{ project.website }} class="btn btn-primary">Try App</a>
                            {% else %}
                                <a href={% url "project_details" project.pk %} class="btn btn-primary">Project Details</a>
                            {% endif %}
                            {% if project.github %}
                                <a href={{ project.github }} class="btn btn-success">GitHub</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}